.submit-area{
    width: 800px;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.panel-area{
    width: 800px;
    margin: 50px auto;
}
.status{
    padding: 20px;
    color: white;
    border-radius: 10px;
}
#admin-panel{
    display: none;
}
.input-value{
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
